<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="EncryptionKey" value="QyzzvrXLZS6GY7RdDUC2z9RWywvt7RkfpaOlUlc3cVo=" />
    <add key="EncryptionIV" value="rOWaz+sy5ecBHos3XwU2Lg==" />
    <add key="DashbordUrl" value="https://" />
    <add key="HelpDeskContactNumber" value="082-191" />
    <add key="EMSURL" value="http://integration-712.vodacom.corp:5555/ws/VEvolution.webConns.provider:ems" />
    <add key="EMSEmailFrom" value="Evolution-do-not-reply@vodacom.com" />
    <add key="EMSEmailUsername" value="EMS_Evolution-EMAIL_80ED" />
    <add key="EMSEmailPassword" value="D25CF794" />
    <add key="EMSEmailProfileID" value="20" />
    <add key="EMSSMSUsername" value="EMS_Evolution-SMS_F01A" />
    <add key="EMSSMSPassword" value="AE64C9B3" />
    <add key="EMSSMSProfileID" value="21" />
    <add key="TestingMobileNumber" value="+27828547594" />
    <!-- This number will always override any number. Leave blank in Production -->
    <add key="TestingEmailAddress" value="janet.pearce@vcontractor.co.za" />
    <!-- This email address will always override any user's email address. Leave blank in Production -->
    <add key="BCCEmailAddress" value="EvolutionSupport@vodacom.co.za" />
    <!-- This email address will always override any user's email address. Leave blank in Production -->
    <add key="ReminderBeforeExpiryInDays" value="15" />
    <!--Reminder Before a contract expires-->
    <add key="NumberOfDaysToDeleteDraft" value="7" />
    <add key="NumberOfDaysToDeleteVisitor" value="90" />
    <add key="CRSTurnedOffDate" value="2013/03/26" />
    <!--"dd MMM yy" "yyyy/MM/dd"-->
  </appSettings>
  <connectionStrings>
    <!-- qEvolution101zatcwi.vodacom.corp -->
    <add name="EvolutionDBContext" connectionString="Data Source=.;Initial Catalog=EvolutionDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EvolutiontoIDMSOAP" />
      </basicHttpBinding>
      <customBinding>
        <binding name="VEvolution_webConns_provider_ems_Binder">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://integration-712.vodacom.corp:5555/ws/VEvolution.webConns.provider:ems" binding="customBinding" bindingConfiguration="VEvolution_webConns_provider_ems_Binder" contract="VodaEMSService.ems_PortType" name="VEvolution_webConns_provider_ems_Port" />
      <endpoint address="http://zactn06083.vodacom.corp:8080/Evolutionidmws/services/EvolutiontoIDM/" binding="basicHttpBinding" bindingConfiguration="EvolutiontoIDMSOAP" contract="VodaIDMService.EvolutiontoIDM" name="EvolutiontoIDMSOAP" />
    </client>
  </system.serviceModel>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>